<div class="add-book-wrapper">
  <div class="add-book-container">
    <h2>Add <span>Books</span></h2>
    <form>
      <div class="form-group">
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="author">Book Author:</label>
        <input type="text" id="author" name="author">
      </div>
      <div class="form-group">
        <label for="price">Book Price:</label>
        <input type="number" id="price" name="price">
      </div>
      <div class="form-group">
        <label for="coverImage">Cover Image:</label>
        <input type="file" id="coverImage" name="coverImage">
      </div>
      <div class="form-group">
        <label for="category">Select Category:</label>
        <select id="category" name="category">
          <option value="auto">Autobiography</option>
          <option value="fashion">Fashion</option>
          <option value="fiction">Fiction</option>
          <option value="health">Health and Lifestyle</option>
          <option value="selfhelp">Self Help</option>
        </select>
      </div>
      <button type="submit" class="btn-add-book">Add Book</button>
    </form>
  </div>