<div class="container-fluid">

  <section class="home">
    <div class="content">
      <h3>Hand Picked Books to your door.</h3>
      <p>Welcome to BookWing! Where the World of Books Comes Alive!</p>
      <a href="#" class="white-btn" routerLink="/about" routerLinkActive="active">Discover More</a>
    </div>
  </section>
  <!-- popular categories -->
  <h3 class="header d-flex justify-content-center text-muted m-4">Most Popular Categories</h3>
  <div class="container d-flex justify-content-around mb-4">

    <div class="card " id="categories" style="width: 12rem; height: 20rem; ">
      <img class="card-img-top " src="../../../assets/popular category images/fiction.jpg" alt="Card image cap"
        routerLink="/fiction" routerLinkActive="active">
      <h6 class="card-title text-center">Fiction</h6>

    </div>
    <div class="card" id="categories" style="width: 12rem; height: 20rem;">
      <img class="card-img-top " src="../../../assets/popular category images/lifestyle.jpg" alt="Card image cap"
        routerLink="/health" routerLinkActive="active">
      <h6 class="card-title text-center">Health&Lifestyle</h6>

    </div>
    <div class="card" id="categories" style="width: 12rem;height: 20rem;">
      <img class="card-img-top  " style="height:fit-content;"
        src="../../../assets/popular category images/Dreams From My Father book cover.jpg " alt="Card image cap"
        routerLink="/auto" routerLinkActive="active">

      <h6 class="card-title text-center ">AutoBiography</h6>

    </div>
    <div class="card" id="categories" style="width: 12rem;height: 20rem;">
      <img class="card-img-top " src="../../../assets/popular category images/mind.jpg" alt="Card image cap"
        routerLink="/selfhelp" routerLinkActive="active">
      <h6 class="card-title text-center">Self Help Books</h6>
    </div>
    <div class="card" id="categories" style="width: 12rem; height: 20rem;">
      <img class="card-img-top  " src="../../../assets/popular category images/Dreams From My Father book cover.jpg"
        alt="Card image cap" routerLink="/fashion" routerLinkActive="active">
      <h6 class="card-title text-center">Fashion</h6>
    </div>
  </div>
  <!--Featured author-->

  <div class="featured-author bg-light ">

    <div class="container-fluid">

      <h3 class="text-center  text-muted pt-3">Featured Author</h3>
      <div class="row ">
        <div class="col-md-4  pb-5">
          <img src="../../../assets/images/colleen.jpg" alt="Colleen Hoover" class="img-fluid ml-5 mt-3 "
            style="max-width: 60%; margin-left: 40px;">
        </div>
        <div class="col-md-8 " style="padding-right: 0;">
          <div class="author-description pt-4 mb-3 ">
            <h3 class="display-1">COLLEEN HOOVER</h3>
            <p>Colleen Hoover is the #1 New York Times bestselling author of twenty four novels and novellas.
              Hoover’s novels fall into the New Adult and Young Adult contemporary romance categories, as well
              as psychological thriller.
              <br>
              Colleen Hoover is published by Atria Books, Grand Central Publishing, Montlake Romance, and
              HarperCollins Publishers.
              <br>
              Her novel CONFESS has been filmed as a series by Awestruck and is available on Prime Video via
              Amazon and iTunes. Katie Leclerc and Ryan Cooper star in the series.
            </p>
            <a href="https://en.wikipedia.org/wiki/Colleen_Hoover" class=" p-2 "
              style="text-decoration: none; color: var(--purple);">FIND OUT MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Bestsellers-->
  <div class="grid  mb-5 ">
    <div class="row">
      <div class="col-12" style="padding-right: 0; overflow: hidden;">
        <h3 class="text-center text-muted mt-5 mb-5">Bestsellers</h3>

      </div>
    </div>


    <div class="row">
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/fast.jpeg">
            </a>
          </div>
          <div class="product-content ">
            <h3 class="title"><a href="#">Thinking Fast and Slow</a></h3>
            <div class="price">₹299</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/subtle art.jpg">
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">The Subtle Art of not giving a fuck</a></h3>
            <div class="price">₹372</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/fire.jpeg">
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">The Song of the Cell...</a></h3>
            <div class="price">₹233</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/mind.jpg">
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#" class="">The Power of Subconscious Mind</a></h3>
            <div class="price">₹199</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/PsychologyOfMoney.jpg">
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">The Pyschology of Money</a></h3>
            <div class="price">₹270</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" style="padding-right: 0;">
        <div class="product-grid h-100 d-flex flex-column">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="../../../assets/popular category images/featured book 1.jpg">
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Sapiens-History of Humankind</a></h3>
            <div class="price">₹450</div>
            <a class="add-to-cart" href="#">add to cart</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="banner ">

    <img src="../../../assets/popular category images/banner.jpg" alt="banner" title="Searches for every book here"
      class="img-fluid ">

  </div>

  <section class="paym_delivery new-arrivals " id="contact">
    <div class="container">
      <div class="row mb-5" style="margin-top: 50px ;">

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="del">
            <div class="promo-item">
              <img src="../../../assets/popular category images/t1.png" class="img-fluid"
                style="width: 30%; height: 60px;">
              <div class="blocks mt-3">
                <h6 class="">Pan India Delivery</h6>
                <p class="text-muted">No Minimum Order Value</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="del">
            <div class="promo-item">
              <img src="../../../assets/popular category images/card.png" class="img-fluid "
                style="width: 35%; height: 60px;">
              <div class="blocks mt-3">
                <h6>Secure Payment</h6>
                <p class="text-muted">100% Secure Payment</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="del">
            <div class="promo-item">
              <img src="../../../assets/popular category images/verified-logo-clipart-5.png" alt="" class="img-fluid"
                style="width: 23% ; height: 60px; ">
              <div class="blocks mt-3">
                <h6>Business/Bulk orders</h6>
                <p class="text-muted">Mail Us for Further Orders</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="del">
            <div class="promo-item">
              <img src="../../../assets/popular category images/app.png" class="img-fluid"
                style="width: 35%; height: 60px;">
              <div class="blocks mt-3">
                <h6>Quick Support</h6>
                <p class="text-muted ">24/7 (Sunday Closed)</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>